<?xml version="1.0" encoding="utf-8"?>
<!-- 
SPDX-FileCopyrightText: (c) 2022-2023 T. Graf
SPDX-License-Identifier: Apache-2.0
-->
<packages>
  <package id="Common.Logging" version="2.3.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net45" />
</packages>